button {
  width: 25%;
  border: solid 1px #d1d1d1;
  background-color: #e0e0e0;
  height: 40px;
}

button:nth-child(4) {
  background-color: #f5913e;
}

.lastRow button:nth-child(1) {
  width: 50%;
}

.lastRow button:nth-child(3) {
  background-color: #f5913e;
}
