.container button {
  width: 90px;
  margin: 5px;
  border: none;
  font-size: 20px;
  height: 66px;
  cursor: pointer;
  border-radius: 18px;
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
  /* box-shadow: 11px -11px 22px #d6d6d6, -11px 11px 22px #ffffff; */
}
button:hover{
   box-shadow: 11px -11px 22px #d6d6d6, -11px 11px 22px #ffffff;
}

button:nth-child(4),
.lastRow button:nth-child(3),
.secondRow button {
  background: linear-gradient(45deg, #111, #111);
  color: whitesmoke;
}

.lastRow button:nth-child(1) {
  width: 47%;
}
