input {
  border: solid 1px #d1d1d1;
  width: 70px;
  height: 40px;
  background-color: #e0e0e0;
}
input:nth-child(4) {
  background-color: #f5913e;
}

.last:nth-child(3),
.last:nth-child(2) {
  align-self: flex-end;
  width: 48%;
  height: 40px;
}
.last:nth-child(3) {
  background-color: #f5913e;
}
